@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  background-color: #ffffff;
  color: #171717;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* === Lo demás queda igual === */

.flip-container {
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
}

.flip-back {
  transform: rotateY(180deg);
}

/* Ocultar scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
